<header class='header container'>
  <div class='header-top'>
      <nav>
      <ul id='sections'>
        <li class='sections__item'><a href="#soups">Супы</a></li>
        <li class='sections__item'><a href="#pizza">Пицца</a></li>
        <li class='sections__item'><a href="#pasta">Паста</a></li>
        <li class='sections__item'><a href="#main">Горячие блюда</a></li>
        <li class='sections__item'><a href="#dessert">Десерты</a></li>
      </ul>
    </nav>
      <button class='header-top__login'>Войти</button>
    </div>
 </header>