
<div *ngIf='notificationService.message' class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeNotification()">
    <span aria-hidden="true">&times;</span></button>
   {{notificationService.message}}
</div>
<nav class="navbar navbar-default">
  <div class="col-md-10 .d-block col-md-offset-1">
    <ul id="sections" *ngIf="mainPage" class="nav navbar-nav navbar-left" id='menu' 
      >
      <li class="nav-item"><a href="#soups" class="nav-link" id='start'>Супы</a></li>
      <li class="nav-item"><a href="#pizza" class="nav-link">Пицца</a></li>
      <li class="nav-item"><a href="#pasta" class="nav-link">Паста</a></li>
      <li class="nav-item ">
        <a href="#main" class="nav-link" >Горячие блюда</a>
      </li>
      <li class="nav-item "><a href="#dessert" class="nav-link">Десерты</a></li>
    </ul>
    <ul id="sections" *ngIf="!mainPage" class="nav navbar-nav navbar-left" id='start'>
      <li>
        <a [routerLink]="['']" class="nav-link" >Меню</a>
      </li>
    </ul>
    <div class="btn-toolbar navbar-right">
      <ul class="nav navbar-nav navbar-left" *ngIf="isAuthenticated">
        <li><a [routerLink]="['/adminOrders']" *ngIf="isAdmin">Заказы</a></li>
        <li><a [routerLink]="['/profile']" class='profile'>Личный кабинет</a></li>
      </ul>
      <button
        class="header-top__login"
        (click)="startAuth()"
        class="btn btn-primary btn-lg"
        *ngIf="!isAuthenticated"
      >
        Войти
      </button>
      <button
        class="btn btn-primary btn-lg"
        (click)="onLogout()"
        *ngIf="isAuthenticated"
      >
        Выйти
      </button>
    </div>
  </div>
</nav>
<div class='header'></div>

