.alert-dismissible {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 40%;

  
}

.btn-primary.btn-lg,
#menu {
  margin-top: 10px;
  // font-size: 20px;
}

.navbar-default {
  // box-shadow: 2px 0px 12px 2px #a9a6a6;
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 101;

  // @media (max-width: 767px) {
  //    height: 420px;
  //    position: unset;
  //  }
}