      <li class='menu-item'>
        <div class='icons'>
          <img src="assets/img/edit.svg" class='item-edit'>
          <img src="assets/img/cancel.svg" class='item-delete' (click)='deleteDish()'>
        </div>
        <img src={{soup.imgPath}} alt='finnish soup' class='menu-item__img'>
        <div class='menu-item__name'>{{soup.name}}</div>
        <div class='menu-item__description'>
          <p class='item__description'>{{soup.description}}</p>
          <p> {{soup.weight }} г. </p>
        </div>
        <div class="menu-item__price"> {{soup.price}}руб. </div>
        <button class='menu-item__order' (click)='select()'>Заказать</button>
      </li>
      