$backgroundColor:  rgba(255,187,115, 0.2);
$textColor:#5e3101;
$brightButtonColor:	 #FF5D40;
$buttonBorderColor: #FF8973;

   .areYou{
    background-color: white;
    font-size: 18px;
		border:1px solid $buttonBorderColor;
		border-radius: 5px;
		color:$textColor;
		box-sizing:border-box;
		margin:10px auto;
		display: flex;
		width: 400px;
		max-width: 100%;
		flex-direction:column;
		padding: 40px;

		.btn-primary{
  margin-top: 10px;
  float: none!important;

		}
	}