<div *ngIf="isLoading">
	<app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading" class="background">
	<div *ngIf="error" class='error'>
		<p>{{ error }}</p>
		<button (click)="openAgain()" class="btn btn-primary">
			Попробовать еще раз
		</button>
	</div>
	<form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!error">
		<div class="form-group">
			<label for="userName">email</label>
			<input
				type="text"
				id="userName"
				ngModel
				name="email"
				required
				email
				class="form-control"
			/>
		</div>
		<div class="form-group">
			<label for="password">пароль</label>
			<input
				type="password"
				id="password"
				ngModel
				name="password"
				required
				minlength="6"
				class="form-control"
			/>
		</div>
		<div class="btn-toolbar">
			<button [disabled]="!authForm.valid" class="btn btn-primary btn-block">
				{{ isLoginMode ? 'Войти' : 'Зарегистироваться' }}
			</button> 
			<button
				type="button"
				class="btn btn-warning btn-block"
				(click)="onSwitchMode()"
			>
				{{ isLoginMode ? 'Регистрация' : 'Вход' }}
			</button>
		</div>
	</form>
</div>
