<!-- 
<header class='header container'>
  <div class='header-top'>
    <div class='buttons log' id='logOut' style='display:flex'>
      <a><button class='profile'>Личный кабинет</button></a>
      <a><button class='out'>Выйти</button></a>
    </div>
  </div>
</header>
 -->

<div class='order'>
  <h1>Оформление заказа </h1>
  <img src="assets/img/picnic-basket.svg" class='picnic'>
  <form>
    <label>Имя
     <input type="text" name="name" placeholder="Иван Иванов">
    </label>
    <label>Телефон
     <input type="text" name="telephone" placeholder="+7 912 3456789">
    </label>
    <label>Адрес
     <textarea name="address"></textarea>
    </label>
    <p>Количество персон</p>
      <button class='changeAmountGuest'> - </button> 1шт <button class='changeAmountGuest'> + </button>
  </form>
    <h3>Ваш заказ</h3>
    <ol *ngFor = 'let dish of order'>
        <li>{{dish.dish.name}}</li>
        <span>{{dish.dish.price}} руб.</span>
        <div class='changeAmount'>
          <button (click)='dish.decreaseAmount();refreshPrice() '> - </button> {{dish.quantity}} шт.
          <button (click)='dish.increaseAmount();refreshPrice()'> + </button>
        </div>
        <h5 *ngIf='dish.toppings.length>0'>Топпинги </h5>
        <ul *ngFor = 'let topping of dish.toppings'>
          <li>{{topping.name}}</li>
          <span>{{topping.price}} руб.</span>
          <button 
            (click)='dish.removeTopping(topping); 
            refreshPrice()'> Х 
          </button>
        </ul>
    </ol>
  <p>Доставка <span>0 руб.</span></p>
  <h3>Итого<span> {{totalPrice}} руб.</span></h3>
  
  <button type="submit" onclick='thanks()'>Заказать</button>
</div>
