<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>
<a
  class="arrow btn btn-warning glyphicon glyphicon-arrow-up"
  routerLink="./"
  fragment="start"
></a>
<div class="col-md-4 col-md-offset-1">
  <input
    type="text"
    class="form-control "
    type="text"
    placeholder="Поиск"
    aria-label="Search"
    id="search"
    name="search"
    [formControl]="se"
  />
</div>
<div class="col-md-4 col-md-offset-1" *ngIf="isAdmin">
  <button class="btn btn-warning" [routerLink]="['/dishCreate']">
    Создать новое блюдо
  </button>
</div>
<div class="col-md-10 .d-block col-md-offset-1" *ngIf="!isLoading && filtered_dishes.length > 0">
  <ul class="menu" >
    <app-dish *ngFor="let dish of filtered_dishes" [dish]="dish"> </app-dish>
  </ul>
   <div id="modal-container" class="hidden overflow-auto"></div>
  <div id="overlay" (click)="removeModal()" class="hidden"></div>
</div>
<div class="col-md-10 .d-block col-md-offset-1" *ngIf="!isLoading && filtered_dishes.length===0">
  <div *ngIf="!isLoading">
    <h3 id="soups" *ngIf="getSoups().length > 0">Супы</h3>
  </div>
  <ul class="menu" *ngIf="!isLoading">
    <app-dish *ngFor="let dish of getSoups()" [dish]="dish"> </app-dish>
  </ul>
  <div *ngIf="!isLoading">
    <h3 id="pizza" *ngIf="getPizzas().length > 0">Пицца</h3>
  </div>
  <ul class="menu" *ngIf="!isLoading">
    <app-dish *ngFor="let dish of getPizzas()" [dish]="dish"> </app-dish>
  </ul>
  <div *ngIf="!isLoading">
    <h3 id="pasta" *ngIf="getPastas().length > 0">Паста</h3>
  </div>
  <ul class="menu" *ngIf="!isLoading">
    <app-dish *ngFor="let dish of getPastas()" [dish]="dish"> </app-dish>
  </ul>
  <div *ngIf="!isLoading">
    <h3 id="main" *ngIf="getMains().length > 0">Горячие блюда</h3>
  </div>
  <ul class="menu" *ngIf="!isLoading">
    <app-dish *ngFor="let dish of getMains()" [dish]="dish"> </app-dish>
  </ul>
  <div *ngIf="!isLoading">
    <h3 id="dessert" *ngIf="getDesserts().length > 0">Дессерты</h3>
  </div>
  <ul class="menu" *ngIf="!isLoading">
    <app-dish *ngFor="let dish of getDesserts()" [dish]="dish"> </app-dish>
  </ul>
  <div id="modal-container" class="hidden overflow-auto"></div>
  <div id="overlay" (click)="removeModal()" class="hidden"></div>
</div>
