<div class="menu-item_change overflow-auto pre-scrollable">
  <div class="menu-item__imgDesc_change">
    <img
      src="{{ dish.imgPath }}"
      alt="barcelona"
      class="menu-item__img_change img-fluid"
    />
    <div class="menu-item__description_change">
      <div class="menu-item__name">{{ countedDish.dish.name }}</div>
      <div class="menu-item__description">
        <p>{{ countedDish.dish.description }}</p>
        <p>{{ countedDish.dish.weight }} г.</p>
      </div>
      <div class="menu-item__price">
        {{ countedDish.calculatePrice() }} руб.
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <button
            (click)="countedDish.decreaseAmount()"
            [disabled]="countedDish.quantity < 2"
            class="glyphicon glyphicon-minus btn btn-warning btn-xs"
          ></button>
          <span>{{ countedDish.quantity }} шт</span>
        </div>
        <div class="btn-group">
          <button
            (click)="countedDish.increaseAmount()"
            class="glyphicon glyphicon-plus btn btn-warning  btn-xs"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <div class="toppings" *ngIf="countedDish.toppings">
    <p>Топинги на ваш выбор</p>
    <div class="form-check" *ngFor="let topping of countedDish.toppings">
      <input
        class="form-check-input p-2 bd-highlight"
        type="checkbox"
        [id]="topping.name"
        [checked]="topping.selected"
        (input)="topping.selected = $event.target.checked"
      />
      <label [for]="topping.name" class="form-check-label p-2 bd-highlight">
        {{ topping.name }}</label
      >
      <span class="addPrice p-2 bd-highlight"
        >{{ topping.price }} руб.</span
      >
    </div>
  </div>
  <button class="btn btn-primary btn-lg btn-block" (click)="toOrder()">
    Добавить в корзину
  </button>
</div>
