$backgroundColor:  rgba(255,187,115, 0.2);
$textColor:#5e3101;
$brightButtonColor:	 #FF5D40;
$buttonBorderColor: #FF8973;
$yellowBasketColor:rgba(255,187,115, 1);




.menu-item_change{
		overflow: scroll;
	display: flex;
	//position: absolute;
	flex-direction:column;
	justify-content:space-between;
	border:1px solid $brightButtonColor;
	border-radius: 5px;
	width:500px;
	//top:2%; 
	//left:30%;
	box-sizing:border-box;
	padding: 30px;
	background-color: white;
	color:$textColor;
	 .addPrice{
	 	font-style: italic;
	 	opacity: 0.8;
	 }

}

.menu-item__imgDesc_change{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
.menu-item__img_change{
   width:40%;

}

.menu-item__name{
	font-size: 20px;
	font-weight: bold;
	color:$textColor;
	text-align: bottom;
	height: 40px;
	}


.addPrice{
	text-align: right;
	font-weight: bold;
}
.menu-item__description_change{
	width:55%;
	text-align: left;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
    //font-style: italic;

}
.menu-item__description{
	font-style: italic;
}
.topping{
	// display: flex;
	// flex-wrap:wrap;
	width:260px;
	height: 40px;
	///border: 1px solid red;
	// input{
 	display: block;
 	text-align: left;
	// width:200px;
	// height: 40px;
	// border: 1px solid red;

	// }
}

.item-edit{
    width:20px;
}

.item-delete{
    width:20px;
    margin-left:20px;
    align-self:flex-end;    

}


.icons{
	align-self:flex-end;
	img{
		box-shadow: 2px 2px 3px $textColor;
		transition: all 0.3s ease 0s;
    	cursor: pointer;

		&:first-child{
			border-radius: 5px;
		}
		&:nth-child(2){
			border-radius: 50%;
		}

		&:active{
			box-shadow: none;
		}
	}

}


.menu-item__order{
	font-size: 18px;
	padding: 10px;
	margin-top: 20px;
	border-radius:5px;
	background-color: $brightButtonColor;
	border:1px solid $brightButtonColor;
	color:white;
	box-shadow: 2px 2px 3px 0 $textColor;
	    cursor: pointer;


	&:active{
		box-shadow: 0 0 0 0 $textColor;;
		transform:translateY(5px)
	}
}

.menu-item__amount button{
	background-color: $backgroundColor;
	width: 20px;
	height: 20px;
	border: 1px solid $backgroundColor;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 $textColor;
	transition: all 0.3s ease 0s;
    cursor: pointer;

	&:active{
		transform: translateY(2px);
		box-shadow: 0px 0px 0 0 $textColor;

			}

}
.menu-item__price{
	color:#631903;
	font-weight: bold;
	font-size: 18px;
	margin-bottom:10px;

}
