<app-header></app-header>
<div *ngIf="isLoading">
	<app-spinner></app-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoading">
	<a
		class="arrow btn btn-warning glyphicon glyphicon-arrow-up"
		routerLink="./"
		fragment="start"
	></a>
	<div class="col-md-6 col-md-offset-1">
		<form #personalForm="ngForm" (ngSubmit)="onSubmit(personalForm)">
			<h2>Личные данные</h2>
			<div class="form-group">
				<label for="name"> Ваше имя </label>
				<input
					class="form-control"
					type="text"
					name="name"
					id="userName"
					[ngModel]="profile.userName"
					required
					placeholder="Иван Иванов"
				/>
			</div>
			<p>
				<AutocompleteComponent
					(setAddress)="setAddress($event)"
					adressType="address"
					[autocompleteInput]='profile.userAddress'
				></AutocompleteComponent>
			</p>

			<div class="form-group">
				<label for="address"> номер квартиры/офиса </label>
				<input
					name="appartmentNumber"
					id="appartmentNumber"
					class="form-control"
					[ngModel]="profile.userappartmentNumber"
				>
			</div>
			<div class="form-group">
				<label for="telephone"> Телефон </label>
				<input
					type="text"
					id="telephone"
					[ngModel]="profile.userTelephone"
					required
					class="form-control"
					name="telephone"
					placeholder="+0 123 456 78 90 "
				/>
			</div>
			<button
				type="submit"
				class="btn btn-primary"
				[disabled]="!personalForm.valid || profile.userAddress.length === 0"
			>
				Сохранить
			</button>
		</form>
	</div>
</div>
<app-cart></app-cart>
<app-order-list *ngIf="!isLoading" [orders]="orders"></app-order-list>
