$backgroundColor: rgba(255, 187, 115, 0.2);
$textColor: #5e3101;
$brightButtonColor: #ff5d40;
$buttonBorderColor: #ff8973;

.menu-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 40px;
  height: 520px;
  width: 280px;
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0px 0px 20px #a9a6a6;
  transition: all 0.3s ease 0s;
  position: relative;
  box-sizing: border-box;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item-edit {
  width: 20px;
  margin-left: 20px;
}

.item-delete {
  width: 20px;
  margin-left: 20px;
  border-radius: 50%;
}

.menu-item__img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background: #ccc;
}

.menu-item__name {
  font-size: 20px;
  font-weight: bold;
  color: $textColor;
  text-align: bottom;
  height: 60px;
}
.menu-item__price {
  color: #631903;
  font-weight: bold;
  font-size: 18px;
}
.menu-item__description {
  width: 90%;
  font-style: italic;
  color: $textColor;
}
.item__description {
  height: 60px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.menu-item__amount button {
  background-color: $backgroundColor;
  width: 20px;
  height: 20px;
  border: 1px solid $backgroundColor;
  border-radius: 5px;
  box-shadow: 1px 1px 0 0 $textColor;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0 0 $textColor;
  }
}

.menu-item__order {
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: $brightButtonColor;
  border: 1px solid $brightButtonColor;
  color: white;
  box-shadow: 2px 2px 3px 0 $textColor;
  cursor: pointer;

  &:active {
    box-shadow: 0 0 0 0 $textColor;
    transform: translateY(5px);
  }
}

.switchBtn {
  margin-right: auto;
  height: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff5d40;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-item.mute {
  .menu-item__img {
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  .menu-item__name,
  .menu-item__description,
  .menu-item__price {
    color: #ccc;
  }
  .item-delete {
    fill: #ccc;
  }
}

.glyphicon {
  margin-top:-5px;
  line-height: 20px;
  font-size: 20px;
  // box-shadow: 2px 2px 3px #a9a6a6;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  border-radius: 5px;
  &:active {
    box-shadow: none;
  }
}
