$backgroundColor: rgba(255, 187, 115, 0.2);
$textColor: #5e3101;
$brightButtonColor: #ff5d40;
$buttonBorderColor: #ff8973;

.menu-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: space-between;
	background-color: white;
	margin-bottom: 40px;
	height: 520px;
	width: 280px;
	border-radius: 5px;
  margin: 15px;
	box-shadow: 0px 0px 20px $textColor;
	transition: all 0.3s ease 0s;
	position: relative;
	box-sizing:border-box;

	// &:hover {
	// 	// box-shadow: 0px 15px 20px $textColor;
	// 	// transform: translateY(-10px);
	// 	// z-index: 3;

	// 	.item__description {
	// // 		height: 60px;
	// 		overflow: visible;
	// // 		white-space: normal;
	// // 	}
	// }
	// // &:nth-of-type(odd){
	// // 	margin: 20px;
	// }
}

.icons {
	align-self: flex-end;
	img {
		box-shadow: 2px 2px 3px $textColor;
		transition: all 0.3s ease 0s;
		cursor: pointer;

		&:first-child {
			border-radius: 5px;
		}
		&:nth-child(2) {
			border-radius: 50%;
		}

		&:active {
			box-shadow: none;
		}
	}
}

.item-edit {
	width: 20px;
}

.item-delete {
	width: 20px;
	margin-left: 20px;
	align-self: flex-end;
}

.menu-item__img {
	width: 100%;
	height: 200px;
	border-radius: 5px;
}

.menu-item__name {
	font-size: 20px;
	font-weight: bold;
	color: $textColor;
	text-align: bottom;
	height: 60px;
}
.menu-item__price {
	color: #631903;
	font-weight: bold;
	font-size: 18px;
}
.menu-item__description {
	width: 90%;
	font-style: italic;
	color: $textColor;
}
.item__description {
	height: 60px;
	overflow:hidden;
	 white-space: wrap;
	text-overflow: ellipsis;
}

.menu-item__amount button {
	background-color: $backgroundColor;
	width: 20px;
	height: 20px;
	border: 1px solid $backgroundColor;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 $textColor;
	transition: all 0.3s ease 0s;
	cursor: pointer;

	&:active {
		transform: translateY(2px);
		box-shadow: 0px 0px 0 0 $textColor;
	}
}

.menu-item__order {
	font-size: 18px;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	background-color: $brightButtonColor;
	border: 1px solid $brightButtonColor;
	color: white;
	box-shadow: 2px 2px 3px 0 $textColor;
	cursor: pointer;

	&:active {
		box-shadow: 0 0 0 0 $textColor;
		transform: translateY(5px);
	}
}
